## System Setup

### - Local Machine

In [36]:
ROOT=''
TARGET='dataset/Meltingtank/'

## Environment

In [14]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [27]:
from datetime import datetime
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import *
from imblearn.over_sampling import SMOTE

from tensorflow.keras import Sequential

from keras.layers import Dense, LSTM
from keras.preprocessing import sequence
from keras.utils import np_utils
from keras.callbacks import EarlyStopping, ModelCheckpoint

## Implementation

#### Data

In [37]:
# Data-loading
DATA_PATH=ROOT + TARGET + "dataset/melting_tank.csv"
df = pd.read_csv(DATA_PATH, encoding="cp949")

In [38]:
df.head()

            STD_DT  NUM  MELT_TEMP  MOTORSPEED  MELT_WEIGHT  INSP TAG
0  2020-03-04 0:00    0        489         116          631  3.19  OK
1  2020-03-04 0:00    1        433          78          609  3.19  OK
2  2020-03-04 0:00    2        464         154          608  3.19  OK
3  2020-03-04 0:00    3        379         212          606  3.19  OK
4  2020-03-04 0:00    4        798        1736          604  3.21  OK

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 835200 entries, 0 to 835199
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   STD_DT       835200 non-null  object
 1   NUM          835200 non-null  int64
 2   MELT_TEMP    835200 non-null  int64
 3   MOTORSPEED   835200 non-null  int64
 4   MELT_WEIGHT  835200 non-null  int64
 5   INSP         835200 non-null  float64
 6   TAG          835200 non-null  object
dtypes: float64(1), int64(4), object(2)
memory usage: 44.6+ MB

In [40]:
df.describe()

,NUM,MELT_TEMP,MOTORSPEED,MELT_WEIGHT,INSP
count,835200.000000,835200.000000,835200.000000,835200.000000,835200.000000
mean,417599.500000,509.200623,459.782865,582.962125,3.194853
std,241101.616751,128.277519,639.436413,1217.604433,0.011822
min,0.000000,308.000000,0.000000,0.000000,3.170000
25%,208799.750000,430.000000,119.000000,186.000000,3.190000
50%,417599.500000,469.000000,168.000000,383.000000,3.190000
75%,626399.250000,502.000000,218.000000,583.000000,3.200000
max,835199.000000,832.000000,1804.000000,55252.000000,3.230000

In [42]:
# Type conversion
df['STD_DT'] = df['STD_DT'].apply(lambda x: pd.to_datetime(str(x), format='%Y-%m-%d %H:%M:%S'))

In [43]:
df = df.set_index(['STD_DT'])

In [44]:
df.head(20)

                     NUM  MELT_TEMP  MOTORSPEED  MELT_WEIGHT  INSP TAG
STD_DT
2020-03-04 00:00:00    0        489         116          631  3.19  OK
2020-03-04 00:00:00    1        433          78          609  3.19  OK
2020-03-04 00:00:00    2        464         154          608  3.19  OK
2020-03-04 00:00:00    3        379         212          606  3.19  OK
2020-03-04 00:00:00    4        798        1736          604  3.21  OK
2020-03-04 00:00:00    5        743        1722          603  3.21  OK
2020-03-04 00:00:00    6        390         212          602  3.19  OK
2020-03-04 00:00:00    7        493         152          600  3.19  OK
2020-03-04 00:00:00    8        427           0          599  3.19  OK
2020-03-04 00:00:00    9        489         148          598  3.20  OK
2020-03-04 00:01:00   10        507         128          596  3.19  OK
2020-03-04 00:01:00   11        408          66          595  3.19  OK
2020-03-04 00:01:00   12        474         138          594  3.19  OK
2020-03-04 00:01:00   13        358         201          592  3.19  OK
2020-03-04 00:01:00   14        740        1740          590  3.22  OK
2020-03-04 00:01:00   15        772        1729          588  3.22  OK
2020-03-04 00:01:00   16        424         195          586  3.18  OK
2020-03-04 00:01:00   17        460         158          585  3.19  OK
2020-03-04 00:01:00   18        440           0          584  3.19  OK
2020-03-04 00:01:00   19        504         133          582  3.19  OK